<div>
    <div style="height: 500px;" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"
        (leafletZoomChange)="onZoomChange()">
        <div *ngFor="let layer of layers" [leafletLayer]="layer.marker" [matMenuTriggerFor]="menu"
            [matMenuTriggerData]="{sensingNodeId: layer.id}"></div>
        <mat-menu #menu="matMenu">
            <ng-template matMenuContent let-sensingNodeId="sensingNodeId">
                <button mat-menu-item>View Readings</button>
            </ng-template>
        </mat-menu>
    </div>
</div>