@import "themes";

@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/globals";

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global();
}
/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Fontawesome SCSS files. */
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

/* Styles set by Angular Material (html, body) */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: nb-theme(background-basic-color-1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
}

.legend i {
  width: 18px;
  height: 18px;
  margin-inline-end: 8px;
}

nb-menu.nb-menu-horizontal {
  ul.menu-items {
    display: flex;
    justify-content: space-between;

    li.menu-item {
      border: none;
    }
  }
}

.match-theme * {
  background-color: inherit;
  color: inherit;
}

.rotate-neg-45 {
  transform: rotate(-45deg);
}

.location-arrow-marker {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
